@model List<DealerManagment.Models.InventoryModels.Inventory>

@{
    ViewData["Title"] = "Sold_Inventory";

}

<!--Top Info-->
<div class="row mt-3 mb-2">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Profit</h5>
                        <span class="h2 font-weight-bold mb-0">@ViewBag.Profit</span>
                    </div>
                    <div class="col-auto">
                        <img src="https://img.icons8.com/color/48/000000/economic-improvement.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Cars Sold</h5>
                        <span class="h2 font-weight-bold mb-0"> @Model.Count(i => i.Sold)</span>
                    </div>
                    <div class="col-auto">
                        <img src="https://img.icons8.com/color/48/000000/car-badge.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--DataTable-->
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h1 class="mb-0 text-center">Sold Inventory</h1>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-striped" id="soldInventoryTable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Date Sold
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).VIN)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).Vehicle.Year)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).Vehicle.Make)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).Vehicle.Model)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).Mileage)
                            </th>
                            <th scope="col">
                                Purchase Price
                            </th>
                            <th scope="col">
                                Sold Price
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.ElementAt(0).Profit)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoldDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VIN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle.Make)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mileage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoldPrice)
                                </td>
                                <td>
                                    @if (item.Profit > 0)
                                    {<span class="text-sm text-success mr-2"><i class="fa fa-plus"></i> @Html.DisplayFor(modelItem => item.Profit)</span>}
                                else
                                {
                                    <span class="text-sm text-danger mr-2"><i class="fa fa-minus"></i> @Html.DisplayFor(modelItem => item.Profit)</span>
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
